---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Présentation">
  <p>La Forge Du Dragon Blanc est un atelier de couture et de création de costumes historiques et fantastiques.</p>
  <p>Je vous propose de découvrir mes créations et de me contacter pour toute demande de costume sur mesure.</p>
</BaseLayout>